<h1>This is the about page of My Blog App</h1>
<ul class="listing">
    <li>
        <h3>
            This is an app that has users that can sign in and sign up and create thier aricles in different categories
        </h3>
    </li>
    <li>
        <h3>
            This app has an admin who can edit or delete articles as well as the user who created it if he sees that they violate any rule
        </h3>
    </li>
</ul>
<%= link_to 'Home' , root_path %>