<h1 align="center">listing All Categories</h1>
<div class="center">
    <% @categories.each do |category|%>
    <div class="row">
        <div class="col-xs-8 col-xs-offset-2">
            <div class="well well-lg">
                <div class="article-title">
                    <%= link_to category.name, category_path(category.id) %>
                </div>
                <small><%= pluralize(category.articles.count, "article") %></small>
            </div>
        </div>
    </div>
    <% end %>
</div>
<div class="center">
    <%= will_paginate @categories%>
</div>