<div class="container">
    <footer class="footer">
        <small>
            Copyrights &copy; <a href="https://alaa-blog-2021.herokuapp.com">My Blog App</a>
            by <a href="https://github.com/MuhammeedAlaa">Muhammeed Alaa</a>
        </small>
        <nav>
            <ul>
                <li>
                    <%= link_to 'About' , about_path %> 
                </li>        
            </ul>
        </nav>
    </footer>
</div>